=head1 [% summary.title %]

[% FOREACH list IN summary.lists %]
=head2 [% list.title %] ([% list.name %])

[% FOREACH thread IN list.threads %]
=head3 L<[% thread.subject %]|[% thread.make_archive_link.message_uri %]>
[% IF thread.summary %]
[% thread.summary %]
[% ELSE %][% FOREACH participant IN thread.extra.posters %]
[% participant.name %]
[% END %][% END %][% END %][% END %]
=head1 See Also

Moose


