[% summary.title %]
[% FOREACH list IN summary.lists %]
 [% list.title %]
[% FOREACH thread IN list.threads %]
  [% thread.subject %] <[% shorten(thread.archive_link.thread_uri) %]>
    [% IF thread.summary %]
    [% thread.summary %]
    [% ELSE %]Participants:[% FOREACH participant IN thread.extra.participants %]
     [% participant.name %][% END %][% END %]
[% END %][% END %]
